.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  // width: 10%;
  // height: 70px;

  &__icon-container {
    position: relative;
    width: 40px;
    align-self: flex-end;
  }

  &__icon:hover svg {
    // background: blue;
    fill: yellow;
    cursor: pointer;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  &__container {
    z-index: 3;
    background: grey;
    position: absolute;
    // display: none;
    width: 350px;
    top: 49px;
    right: 0;
    border-radius: 10px;
  }

  &__item-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__footer {
    display: flex;
    justify-content: end;
    padding: 10px;
  }

  &__count {
    display: flex;
    align-items: center;
  }

  &__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  &__icon-counter {
    color: #cb11ab;
    position: absolute;
    top: -10px;
    right: 3px;
  }

  &__clear-button {
    color: #fff;
    height: 30px;
    width: 50%;
    appearance: none;
    background-color: $button-color;
    border-color: $button-color;
    border-radius: 10px;
  }

  &__button-delete {
    background-color: $button-color;
    border-color: $button-color;
    appearance: none;
    font-size: 18px;
    width: 10%;
    border-radius: 15%;
    transition: all 0.3s ease-in;
  }
  &__button-delete:hover {
    box-shadow: inset 4px 4px #6d0f5db2;
  }
}

.cart-title {
  max-width: 45%;
}
