.header {
  background: url(../assets/img/header-background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70px;
  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    width: 240px;
    height: 64px;
  }

  &__cart {
    position: relative;
    display: flex;
    flex-direction: column;
    // width: 10%;
    // height: 70px;
  }
  &__cart-icon {
    width: 40px;
    align-self: flex-end;
  }

  &__cart-icon:hover svg {
    // background: blue;
    fill: yellow;
    cursor: pointer;
  }

  &__cart-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  &__cart-container {
    background: grey;
    position: absolute;
    // display: none;
    width: 350px;
    top: 49px;
    right: 0;
    border-radius: 10px;
  }

  &__cart-item-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__cart:hover &__cart-content {
    display: block;
  }

  &__cart-footer {
    display: flex;
    justify-content: end;
    padding: 10px;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
}
