@import "variables";
@import "card";
@import "cart";
@import "header";
@import "shopping";
@import "modal";

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  // border: 1px solid red;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.display-on {
  display: block;
}

.image {
  width: 100%;
}

.show {
  display: block;
}
.hide {
  display: none;
}
