$mainColor: violet;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid red;
  border-radius: 15px;

  &__image {
    border-radius: 15px;
    max-height: 200px;
  }

  &:hover .button__modal {
    opacity: 1;
  }
}

.button {
  width: 180px;
  &__modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    opacity: 0;
    transition: all 0.3s;
  }
}

.image {
  width: 100%;
  display: block;
}
