@import "variables";
@import "font";
@import "card";
@import "cart";
@import "header";
@import "shopping";
@import "modal";

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  // border: 1px solid red;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Ubuntu";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.display-on {
  display: block;
}

.image {
  width: 100%;
}

.show {
  display: block;
}
.hide {
  display: none;
}

input[type="button"] {
  box-shadow: 0;
}

.button {
  cursor: pointer;
  &__modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    opacity: 0;
    transition: all 0.3s;
    font-size: 12px;
    line-height: 16px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    padding: 10px 11px;
    border: none;
  }

  &__to-cart {
    color: white;
    background-color: $button-color;
    border-radius: 10px;
    border-color: $button-color;
    height: 30px;
    box-shadow: red;
    width: 65%;
    appearance: none;
  }
  &__to-cart:disabled {
    background-color: grey;
    border-color: grey;
    color: white;
    box-shadow: 0;
  }
  &__to-cart:active {
    box-shadow: none;
  }
}
