.modal-win {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(211 211 211 / 50%);
  visibility: visible;
  overflow-y: hidden;
}
