.shopping {
  &__container {
    margin-top: 50px !important;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

.card {
  // width: calc(100% / 12 * 1.714 - 32px);
  padding: 20px;
  box-sizing: border-box;
  flex: 1 0 250px;
  // width: calc(100% / 12 * 2 - 32px);
  // max-width: 300px;
  // min-width: 200px;
  // width: 250px;
}
