.slider {
  &__container {
    position: relative;
  }
  &__button-left {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__button-right {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__image {
    width: 100%;
    display: block;
  }
  &__button-container {
    position: absolute;
    display: flex;
    width: 97.5%;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}
