.slider {
  margin-top: 30px;

  &__container {
    position: relative;
  }
  &__button-left {
    border-radius: 50%;
    border: none;
    opacity: 0.5;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  &__button-right {
    transition: all 0.3s ease-in-out;

    border: none;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__button-left:hover {
    opacity: 1;
  }
  &__button-right:hover {
    opacity: 1;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__inner {
    border-radius: 20px;
    overflow: hidden;
  }
  &__button-container {
    position: absolute;
    display: flex;
    width: 97.5%;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}
